#!/bin/bash
(return 0 2>/dev/null) || { echo "This script should not be run directly, use source instead" >&2 ; exit 1; }
[[ -f ~/.aliases.options ]] && source ~/.aliases.options
export EDITOR=nano

alias hd='hexdump -C'
if which exa 2>&1 >/dev/null ; then
	alias ls=exa
fi 
alias l='ls -lh'
alias rmbak='rm -rf *~'
alias realias='source ~/.aliases'

which htop >/dev/null 2>&1 && alias top=htop

## Translate string to lowercase
function lower() {
    echo "$1" | tr '[A-Z]' '[a-z]'
}
export -f lower

## Show unique extensions in a folder or cwd
function uniqexts () {
	[[ "$1" == "" ]] && dir=$(pwd) || dir="$1"
	[[ -d "$dir" ]] || { echo "$dir: Not a directory" >&1 ; return 1; }
	(ls ${dir} | while read file ; do [[ -d $file ]] && continue ; e="${file##*.}"; [[ $e == $file ]] || echo $e; done) | sort | uniq
}
export -f uniqexts
#
# create aliases for common unix tools to use the GNU coreutils equivalents
#
if [[ ! -z "$MACOS_VERSION" ]] ; then
	alias nano="/usr/local/opt/nano/bin/nano"
	for c in gcomm gcut gdate ghead gid ginstall gjoin gmd5sum gnumfmt god gpaste\
			 gpathchk gprintf greadlink grealpath gseq gsleep gsort gsplit gstat\
			 gstty gtac gtail gtee gtimeout gtouch gtr ; do
		al=$(echo "$c"| sed 's/^g//')
		alias $al="/usr/local/bin/${c}"
	done
	unset c al
fi
sh=$(which src-hilite-lesspipe.sh) && {
 export LESSOPEN="| $sh %s"
 export LESS=' -R '
}
unset sh
